@model FornecedorViewModel

<div class="row bg-dark text-light mx-3 p-3 mb-2 rounded">
    <div class="col" id="divFormularioCamiseta">
        <h2>Cadastre Camisetas</h2>
        <form id="formCadastroCamiseta">
            <div class="form-group">
                <label for="txtNome">Nome: </label>
                <input type="text" id="txtNome" class="form-control"
                 placeholder="Insira o nome para a camiseta"/>
            </div>
            <div class="form-group">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                     id="RadioP" value="P">
                    <label class="form-check-label" for="RadioP">P</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                     id="RadioM" value="M">
                    <label class="form-check-label" for="RadioM">M</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                     id="RadioG" value="G">
                    <label class="form-check-label" for="RadioG">G</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                     id="RadioGG" value="GG">
                    <label class="form-check-label" for="RadioGG">GG</label>
                </div>
            </div>
            <div class="form-group">
                <label for="txtColor">Cor: </label>
                <input type="text" id="txtColor" class="form-control"
                 placeholder="Informe a cor principal"/>
            </div>
            <div class="form-group">
                <label for="txtEstampa">Estampa:</label>
                <input type="text" id="txtEstampa" class="form-control"
                 placeholder="Descreva a estampa da camiseta"/>
            </div>
            <div class="form-group">
                <label for="intQuantidade">Quantidade: </label>
                <input type="number" id="intQuantidade" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="selFornecedor">Fornecedor:</label>
                <select id="selFornecedor" class="form-control">
                    <option value="0">-- Escolha o Farnecedor --</option>
                    @if (Model.Fornecedores != null)
                    {
                        foreach(Fornecedor f in Model.Fornecedores)
                        {
                            <option value="@f.Id">@f.nome_fornecedor</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary float-right">Enviar</button>
            </div>
        </form>
    </div>
    <div class="col-md-8" id="divCadastrado" style="display: none;">
        <h2>T-Shirt cadastrada com sucesso !</h2>
    </div>
</div>
<div class="modal" id="modalLoading">
    <div class="d-flex justify-content-center h-100">
        <div class="spinner-border m-auto" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>