@{
    Layout = "_Layout";
    ViewData["Title"] = "Cadastro Colaborador";
}

<div class="row">
    <div class="col" id="divFormularioColaborador">
        <h2>Cadastre o Colaborador</h2>
        <form id="formCadastroColaborador">
            <div class="form-group">
                <label for="txtNome">Nome: </label>
                <input type="text" id="txtNome" class="form-control"
                 placeholder="Nome Completo"/>
            </div>
            <div class="form-group">
                <label for="txtLogin">Login: </label>
                <input type="text" id="txtLogin" class="form-control"
                    placeholder="Não utilize espaço."/>
            </div>
            <div class="form-group">
                <label for="txtSenha">Senha:</label>
                <input type="password" id="txtSenha" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="dateNasc">Data de nascimento: </label>
                <input type="date" id="dateNasc" class="form-control"
                 placeholder="DD/MM/YYYY"/>
            </div>
            <button type="submit" class="btn btn-primary float-right">Enviar</button>
        </form>
    </div>
    <div class="col-md-8" id="divCadastrado" style="display: none;">
        <h2>Colaborador cadastrado com sucesso !</h2>
    </div>
</div>
<div class="modal" id="modalLoading">
    <div class="d-flex justify-content-center h-100">
        <div class="spinner-border m-auto" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>